div > h1 {
    padding: 0px;
    height: 300px;
    margin-top: 10px;
    background: #A5FCE7;
    border: 1px solid black;
}
h1.centered{
    text-align: center;
}

.centered{
    text-align: center;
}