div > h1 {
    padding: 0px;
    padding-bottom: 30px;
    background: blue;
    border: 1px solid black;
    text-align: center;
}
.container{
    position: relative;
}
.vertical-center{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}